body {
  background: #333;
}

#container {
  width: 980px;
  margin: 20px auto;
  position: relative;
}

#image {
  width: 100%;
  -webkit-box-shadow: 10px 10px 5px #000;
}

#controls_container {
  position: absolute;
  bottom: 40px;
  width: 100%;
}

#controls {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.26, rgba(30,30,30,50)),
    color-stop(0.63, rgba(70,70,70,50))
  );
  width: 600px;
  margin: 0 auto;
  border-radius: 5px;
  padding-bottom: 20px;
}

#share {
  float: right;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: black;
    width: 600px;
    margin: 0 auto;
    height: 10px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: silver;
    opacity: 0.9;
    width: 7px;
    height: 20px;
}


button {
  width: 48px;
  height: 48px;
  border: 0;
  opacity: 1;
  background-repeat: no-repeat;
  background-size: 32px;
  background-position: 8px 8px;
  background-color: transparent;
  border-radius: 10px;
  margin: 5px;
}
button:active {
  opacity: 0.5;
}
button:hover {
  -webkit-box-shadow: inset 0 0 20px #666;
}

#playpause {
  float: left;
  width: 64px;
  height: 64px;
  background-size: 48px;
  margin-left: 263px;
}

#playpause.play { background-image: url(images/play.png); }
#playpause.pause { background-image: url(images/pause.png); }
#still { background-image: url(images/still.png); }
#video { background-image: url(images/video.png); }

progress { width: 100% }

#bottom {
  color: #ccc;
  font-family: Verdana, sans-serif;
  font-weight: bold;
  font-size: 16px;
}
#bottom > * { clear: both; display: none; }
#bottom .playback { display: block; }

#bottom .shared { padding: 15px; padding-bottom: 0; }
#bottom .shared .view { text-align: right; }
#bottom .shared .copy { font-size: 12px; font-weight: normal; }
#bottom .shared .message { float: left; }

#bottom .upload .progress {
  background-color: hsl(100, 57%, 40%);
  background-image: -webkit-repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
  -webkit-repeating-linear-gradient(-35deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);

}
